:root{
  --text-color: #ff7207;
  --link-color: #a78bfa;
  --background-color: #111827;
  --paragraph-color: #9ca3af;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-sarif;
  background-color: var(--background-color);
  color: #ff7207;
  max-width: 1400px;
  margin: 0 auto;
}

a{
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
height: 80px;
}
nav .left a{
  color: var(--text-color);
  font-size: 22px;
  font-family: 600;
  font-weight: 600;
}
nav .right a{
  color: var(--text-color);
 margin: 0 10px; 
}
nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}
nav .right a span {
  margin-left: 5px;
}

/* SECTION-1=HERO */
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  gap: 40px;
  margin-bottom: 100px;
}

.hero-section .text {
  flex: 5;
}
.hero-section .text h2{
  font-size: 48px;
} 

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 1.8s infinite;
}

@keyframes wave {
  0%   { transform: rotate(0deg); }
  15%  { transform: rotate(14deg); }
  30%  { transform: rotate(-8deg); }
  40%  { transform: rotate(14deg); }
  50%  { transform: rotate(-4deg); }
  60%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.hero-section .text p {
  color: var(--paragraph-color);
  font-size:  22px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
display: inline-block;
padding: 5px 10px;
border: 2px solid var(--link-color);
border-radius: 5px;
margin-right: 10px;
margin-bottom: 10px;
}
.hero-section .headshot {
  display: flex;
  justify-content: right;
  flex: 2;
}

.hero-section .headshot img {
  width: 350px;
  height: 390px;
  object-fit: cover;
  border-radius: 20%;
}

/* SECTION-2=SKILLS */
.skills-section{
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2{
  text-decoration: underline;
  text-align: center;
  font-size: 36px;
}

.skills-section .text{
  text-align: center;
  margin-bottom: 20px;
   color: var(--paragraph-color);
  font-size:  22px;
}

.skills-section .cells{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid lightgray;
  border-radius: 5px;

}

.skills-section .cells .cell img{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.skills-section .cells .cell span{
  font-weight: bold;
  font-size: 19px;
  border-radius: 2px;
}

/* SECTION-3=TESTIMONY */
.testimony-section{
  padding: 0 50px;
  margin-bottom: 100px;
}

.testimony-section h2 {
  text-decoration: underline;
  text-align: center;
font-size: 35px;
margin-bottom: 30px;
}

.testimony-section .group{
  display: flex;
  align-items: center;
  gap: 50px;
}

.testimony-section .group .text {
   text-align: center;
  margin-bottom: 20px;
   color: var(--paragraph-color);
  font-size:  24px;
}

/* SECTION-4=CONTACTS */
.contact-section{
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  text-decoration: underline;
  text-align: center;
font-size: 35px;
margin-bottom: 30px;
}

.contact-section .group{
  display: flex;
  gap: 50px;
}

.contact-section .group .text{
  flex: 3;
   margin-bottom: 20px;
   color: var(--paragraph-color);
  font-size:  24px;

}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
  font-size: 18px;
  font-family: Poppins, sans-sarif;
  font-weight: bold;
  border: 2px solid var(--background-color);
  border-radius: 20px;
  background-color: var(--text-color);
  border-color: var(--paragraph-color);
  padding: 10px;
  margin-bottom: 15px;
  resize: none;
}


.contact-section .group button{
  padding: 10px 10px;
  font-family: Poppins, sans-sarif;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 26px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.25s;
}

.contact-section .group button:hover{
background-color: var(--text-color);
color: var(--background-color);
border-color: var(--text-color);
outline-color: var(--text-color);
}

.contact-section .group button:active{
  opacity: 0.55;
}

@media(max-width: 850px){
  /* SECTION-1=HERO */
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media(max-width: 740px) {
   /* SECTION-1=HERO */
   .hero-section{
 flex-direction: column-reverse;
   } 
   .hero-section .headshot img{
 width: 300px;
 height: 330px;
   } 
  .testimony-section{
    flex-direction: column;
  }
   /* SECTION-4=CONTACT */
  .contact-section .group {
    flex-direction: column;
  }
  }

@media (max-width: 650px) {
  /* NAVBAR */
  nav{
    padding: 0 15px;
  }

  nav .right a{
    font-size: 20px;
  }

  
  nav .right a:last-child{
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }
  .hero-section{
    padding: 0 20px;
  }
  .hero-section .text h2{
    font-size: 30px;
  }

  /* SECTION-2=SKILLS */
  .skills-section{
    padding: 0 20px;
  }

  .skills-section .cells .cell span{
    font-size: 16px;
  }

  /* SECTION-3=TESTIMONY */
  .testimony-section{
    padding:0 20px;
  }

  /*SECTION-4=CONTACT  */
.contact-section{
padding: 0 20px;
}
}
